*.swp
package-lock.json
__pycache__
.pytest_cache
.env
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# CDK env
.venv/
venv/

#pycharm project
.idea/

# Spyder project
.spyproject/

#db connection
installdb/dbconnection.py

